@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h2>Orange border is just to see where elements are</h2>
<section class="row" id="row1">
    <div class="sectionHeader">
        <h2>Custom Desks</h2>
    </div>

    <div class="articleImage">
        <img src="~/images/oak.jpg" alt="Oak desktop" />
    </div>
    <div class="articleText">
        <p>All about the custom desks we can create for users</p>
    </div>
</section>
<section class="row" id="row2">
    <div class="sectionHeader">
        <h2>Why Mega Desk</h2>
    </div>

    <div class="articleText">
        <p>Now we explain why Mega Desk is the best.  How long we've been in business, etc</p>
    </div>
    <div class="articleImage">
        <p>Another image will actually go here</p>
    </div>
</section>
<section class="row" id="row3">
    <div class="sectionHeader">
        <h2>Who We Are</h2>
    </div>

    <div class="articleTextFull">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</section>

